@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-bg: #09090b;
  --color-brand-surface: #121214;
  --color-brand-surface-highlight: #1c1c1f;
  --color-brand-primary: #6366f1; /* Indigo 500 */
  --color-brand-indigo-dark: #4f46e5; /* Indigo 600 */
}

@layer base {
  body {
    @apply bg-brand-bg text-zinc-100 antialiased;
  }
}
